Repository tosin2013/documcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, package-json-validate, package-json-structure-check, build-check

eslint:
  name: ESLint
  entry: npm run lint:fix
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: npm run typecheck
  language: system
  pass_filenames: false

package-json-validate:
  name: Package.json Validation
  entry: node -e "JSON.parse(require('fs').readFileSync('package.json', 'utf8'))"
  language: system
  pass_filenames: false

package-json-structure-check:
  name: Package.json Structure Protection
  entry: node scripts/check-package-structure.cjs
  language: system
  pass_filenames: false

build-check:
  name: Build Verification
  entry: npm run build
  language: system
  pass_filenames: false

ci(deps): allow CC0-1.0 and three other permissive licenses in dependency-review
  .github/workflows/dependency-review.yml
Due: none

fix(deps): upgrade @modelcontextprotocol/sdk to 1.29.0 and remove invalid `roots` server capability
  package-lock.json
  package.json
  src/index.ts
Due: eslint, typescript-check, package-json-validate, package-json-structure-check, build-check

ci(deps): upgrade actions/dependency-review-action v3 → v4 for compound SPDX license support
  .github/workflows/dependency-review.yml
Due: none

feat!: Remove server-side LLM dependency from DocuMCP (v0.6.0)
  docs/how-to/llm-integration.md
  package-lock.json
  package.json
  src/index.ts
  src/tools/simulate-execution.ts
  src/tools/validate-content.ts
  src/types/tool-metadata.ts
  src/utils/execution-simulator.ts
  src/utils/llm-client.ts
  src/utils/semantic-analyzer.ts
  tests/execution-simulator.test.ts
  tests/utils/llm-client.test.ts
  tests/utils/semantic-analyzer.test.ts
Due: eslint, typescript-check, package-json-validate, package-json-structure-check, build-check

chore(release): align release-drafter labels, promote v0.6.0 CHANGELOG section, add publish runbook
  .github/release-drafter.yml
  CHANGELOG.md
  docs/development/v0.6.0-release-preview.md
Due: none

fix(release-drafter): treat breaking-change as minor bump while pre-1.0
  .github/release-drafter.yml
Due: none

ci(pages): consolidate GitHub Pages deployment into deploy-docs.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/release.yml
Due: none

fix(deps,docs): bump @docusaurus/core to 3.10.1 and force serialize-javascript@^7.0.5
  docs/package-lock.json
  docs/package.json
Due: package-json-validate, package-json-structure-check

chore(lint,ci): prepare base for @typescript-eslint v8 + minimatch ReDoS fix (PR #141)
  .eslintrc.json
  .github/workflows/dependency-review.yml
Due: none

ci: skip commitlint validation for Copilot bootstrap commits (#143)
  commitlint.config.js
  tests/commitlint.config.test.ts
Due: eslint, typescript-check, build-check

feat(ast): wire up tree-sitter parsers for Python and Go (#112)
  jest.config.js
  src/utils/ast-analyzer.ts
  src/utils/ast-tree-sitter.ts
  tests/benchmarks/multi-lang-parsing.bench.test.ts
  tests/fixtures/multi-lang/go/sample.go
  tests/fixtures/multi-lang/python/sample.py
  tests/integration/multi-lang-drift.test.ts
  tests/utils/ast-analyzer.test.ts
Due: eslint, typescript-check, build-check

feat(ast): wire up tree-sitter parsers for Python and Go (#112) (#144)
  jest.config.js
  src/utils/ast-analyzer.ts
  src/utils/ast-tree-sitter.ts
  tests/benchmarks/multi-lang-parsing.bench.test.ts
  tests/fixtures/multi-lang/go/sample.go
  tests/fixtures/multi-lang/python/sample.py
  tests/integration/multi-lang-drift.test.ts
  tests/utils/ast-analyzer.test.ts
Due: eslint, typescript-check, build-check

feat(watcher): persist watcher state to JSONL and add integration tests (#113)
  src/utils/change-watcher.ts
  tests/integration/change-watcher.test.ts
Due: eslint, typescript-check, build-check

feat(watcher): persist watcher state to JSONL and add integration tests (#113) (#145)
  src/utils/change-watcher.ts
  tests/integration/change-watcher.test.ts
Due: eslint, typescript-check, build-check

feat(drift): add priority scoring feedback ingestion loop (#114)
  docs/adrs/adr-0012-priority-scoring-system-for-documentation-drift.md
  src/index.ts
  src/memory/kg-drift-feedback.ts
  src/memory/kg-integration.ts
  src/memory/knowledge-graph.ts
  src/tools/record-drift-outcome.ts
  src/utils/drift-detector.ts
  tests/integration/drift-feedback-loop.test.ts
  tests/utils/drift-feedback-calibration.test.ts
Due: eslint, typescript-check, build-check

feat(drift): add priority scoring feedback ingestion loop (#114) (#146)
  docs/adrs/adr-0012-priority-scoring-system-for-documentation-drift.md
  src/index.ts
  src/memory/kg-drift-feedback.ts
  src/memory/kg-integration.ts
  src/memory/knowledge-graph.ts
  src/tools/record-drift-outcome.ts
  src/utils/drift-detector.ts
  tests/integration/drift-feedback-loop.test.ts
  tests/utils/drift-feedback-calibration.test.ts
Due: eslint, typescript-check, build-check

chore(security): bump simple-git to 3.36.0 via npm audit fix
  package-lock.json
Due: none

test(kg-storage): use fs.mkdtemp for unpredictable temp dir
  tests/memory/kg-storage-validation.test.ts
  tests/memory/kg-storage.test.ts
Due: eslint, typescript-check, build-check

feat: implement community insights aggregation (Phase 3) (#147)
  .github/workflows/deploy-docs.yml
  package-lock.json
  src/index.ts
  src/memory/community-insights.ts
  tests/integration/community-insights.test.ts
  tests/memory/kg-storage-validation.test.ts
  tests/memory/kg-storage.test.ts
Due: eslint, typescript-check, build-check

chore(release): 0.7.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: package-json-validate, package-json-structure-check

feat(release): add template-based enhanced release notes generator (#115)
  .github/workflows/release.yml
  release-notes-0.7.0.md
  src/scripts/generate-release-notes.ts
  tests/scripts/generate-release-notes.test.ts
Due: eslint, typescript-check, build-check

docs: refresh CONTRIBUTING.md with role-based contribution paths (#120)
  CONTRIBUTING.md
  docs/how-to/contributing-an-ssg-adapter.md
Due: none

ci: update actions/upload-pages-artifact from v2 to v3
  .github/workflows/deploy-docs.yml
Due: none

docs: add comprehensive Diataxis quality audit report (#119)
  docs/development/diataxis-audit-2026.md
Due: none

docs: add hyperlinks to how-to guides
  docs/how-to/prompting-guide.md
  docs/how-to/repository-analysis.md
  docs/how-to/usage-examples.md
Due: none

docs: add hyperlinks to how-to guides (#158)
  docs/how-to/prompting-guide.md
  docs/how-to/repository-analysis.md
  docs/how-to/usage-examples.md
Due: none

fix: ensure directory exists before writing temp files in kg-storage
  src/memory/kg-storage.ts
Due: eslint, typescript-check, build-check

feat(ci): Smart Dependabot auto-merge for patch-only dependency bumps (#157)
  .github/workflows/dependabot-auto-merge.yml
Due: none

Add scale performance benchmarks (100/1k/5k), percentile reporting, and CI regression summaries (#159)
  .github/workflows/ci.yml
  .gitignore
  package.json
  src/benchmarks/scale.ts
  src/scripts/benchmark.ts
  tests/benchmarks/scale.test.ts
  tests/benchmarks/thresholds.json
Due: eslint, typescript-check, package-json-validate, package-json-structure-check, build-check

feat(dashboard): add release health dashboard (#116)
  .github/workflows/release-health.yml
  docs/data/release-health.json
  docs/development/release-health-dashboard.md
  docs/src/pages/release-health.md
  src/scripts/collect-release-health.ts
Due: eslint, typescript-check, build-check

feat(dashboard): add release health dashboard (#116)
  CHANGELOG.md
  package-lock.json
  package.json
Due: package-json-validate, package-json-structure-check

chore(release): 0.8.0
  CHANGELOG.md
Due: none

fix(docs): convert release health dashboard to React component
  docs/src/pages/release-health.tsx
Due: none

feat!: v1.0.0 — Vercel deployment support (ADR-018 D1)
  .eslintignore
  .github/workflows/deploy-docs.yml
  CHANGELOG.md
  docs/.docusaurus/docusaurus-plugin-content-docs/default/__mdx-loader-dependency.json
  docs/docusaurus.config.js
  docs/how-to/deploy-to-vercel.md
  docs/how-to/llm-integration.md
  docs/how-to/prompting-guide.md
  docs/how-to/repository-analysis.md
  docs/how-to/troubleshooting.md
  docs/how-to/usage-examples.md
  docs/reference/api-overview.md
  docs/reference/index.md
  docs/src/pages/release-health.md
  docs/tutorials/environment-setup.md
  docs/tutorials/first-deployment.md
  docs/tutorials/index.md
  docs/vercel.json
  package-lock.json
  package.json
  src/deploy-targets/github-pages/index.ts
  src/deploy-targets/index.ts
  src/deploy-targets/types.ts
  src/deploy-targets/vercel/index.ts
  src/index.ts
  src/tools/deploy-pages.ts
  tests/deploy-targets/vercel.test.ts
  tests/tools/deploy-pages.test.ts
  tests/tools/deploy-site.test.ts
Due: eslint, typescript-check, package-json-validate, package-json-structure-check, build-check

docs: clarify deploy_site generates files only — credentials stay in GitHub Actions secrets
  docs/how-to/usage-examples.md
Due: none

ci: replace Jekyll/GitHub Pages workflow with Vercel deployment
  .github/workflows/deploy-docs.yml
Due: none

feat(deploy): target-specific workflow names and adapter UX improvements
  docs/contributing/adding-deploy-targets.md
  docs/how-to/deploy-to-vercel.md
  docs/sidebars.js
  src/deploy-targets/github-pages/index.ts
  src/deploy-targets/vercel/index.ts
  src/index.ts
  src/tools/deploy-pages.ts
  tests/deploy-targets/vercel.test.ts
  tests/tools/deploy-pages.test.ts
  tests/tools/deploy-site.test.ts
Due: eslint, typescript-check, build-check

docs(changelog): add deploy UX improvements to v1.0.0 release notes
  CHANGELOG.md
Due: none

Path conditions:
  eslint: any of: \.(ts|js)$, but not: (?x)^(
  dist/.*|
  node_modules/.*|
  \.git/.*|
  \.husky/_/.*|
  benchmarks/.*\.log|
  coverage/.*|
  \.github/workflows/deploy-docs\.yml
)$

  typescript-check: any of: \.(ts)$, but not: (?x)^(
  dist/.*|
  node_modules/.*|
  \.git/.*|
  \.husky/_/.*|
  benchmarks/.*\.log|
  coverage/.*|
  \.github/workflows/deploy-docs\.yml
)$

  package-json-validate: any of: package\.json$, but not: (?x)^(
  dist/.*|
  node_modules/.*|
  \.git/.*|
  \.husky/_/.*|
  benchmarks/.*\.log|
  coverage/.*|
  \.github/workflows/deploy-docs\.yml
)$

  package-json-structure-check: any of: package\.json$, but not: (?x)^(
  dist/.*|
  node_modules/.*|
  \.git/.*|
  \.husky/_/.*|
  benchmarks/.*\.log|
  coverage/.*|
  \.github/workflows/deploy-docs\.yml
)$

  build-check: any of: \.(ts)$, but not: (?x)^(
  dist/.*|
  node_modules/.*|
  \.git/.*|
  \.husky/_/.*|
  benchmarks/.*\.log|
  coverage/.*|
  \.github/workflows/deploy-docs\.yml
)$

