Repository tosin2013/documcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, package-json-validate, package-json-structure-check, build-check

eslint:
  name: ESLint
  entry: npm run lint:fix
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: npm run typecheck
  language: system
  pass_filenames: false

package-json-validate:
  name: Package.json Validation
  entry: node -e "JSON.parse(require('fs').readFileSync('package.json', 'utf8'))"
  language: system
  pass_filenames: false

package-json-structure-check:
  name: Package.json Structure Protection
  entry: node scripts/check-package-structure.cjs
  language: system
  pass_filenames: false

build-check:
  name: Build Verification
  entry: npm run build
  language: system
  pass_filenames: false

fix: resolve Phase 2.1 edge case test failures with nuanced logic
  PHASE_2.1_LOCAL_NOTES.md
  src/memory/kg-integration.ts
  src/memory/knowledge-graph.ts
  src/tools/recommend-ssg.ts
  tests/tools/recommend-ssg-historical.test.ts
Due: eslint, typescript-check, build-check

feat: integrate Release Drafter for automated release notes
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Due: none

fix: resolve Phase 2.1 test failures with comprehensive fixes
  src/memory/deployment-analytics.ts
  src/memory/kg-integration.ts
  src/memory/kg-storage.ts
  src/memory/knowledge-graph.ts
  tests/benchmarks/performance.test.ts
  tests/integration/knowledge-graph-workflow.test.ts
  tests/tools/deploy-pages-tracking.test.ts
  tests/tools/recommend-ssg.test.ts
Due: eslint, typescript-check, build-check

fix: adjust coverage threshold for kg-storage error handling
  jest.config.js
Due: eslint

fix: update GitHub Pages deployment workflow for Docusaurus
  .github/workflows/deploy-docs.yml
Due: none

fix: update GitHub Actions to use latest artifact actions
  .github/workflows/deploy-docs.yml
Due: none

style: format CHANGELOG.md with prettier
  CHANGELOG.md
  package-lock.json
  package.json
Due: package-json-validate, package-json-structure-check

fix: improve GitHub Actions release workflow for future releases
  .github/workflows/release.yml
Due: none

docs: add release workflow fixes documentation
  RELEASE_WORKFLOW_FIXES.md
Due: none

fix: add cleanup step to CI workflow to prevent corrupted memory files
  .github/workflows/ci.yml
Due: none

feat: add Playwright testing integration and knowledge graph enhancements
  .eslintrc.json
  docs/guides/link-validation.md
  docs/guides/playwright-integration.md
  docs/guides/playwright-testing-workflow.md
  invalid/repo/format/.github/workflows/deploy-docs.yml
  package-lock.json
  package.json
  src/index.ts
  src/memory/kg-code-integration.ts
  src/memory/kg-health.ts
  src/memory/kg-integration.ts
  src/memory/kg-link-validator.ts
  src/memory/knowledge-graph.ts
  src/memory/schemas.ts
  src/templates/playwright/Dockerfile.template
  src/templates/playwright/accessibility.spec.template.ts
  src/templates/playwright/docs-e2e.workflow.template.yml
  src/templates/playwright/link-validation.spec.template.ts
  src/templates/playwright/playwright.config.template.ts
  src/tools/analyze-repository.ts
  src/tools/deploy-pages.ts
  src/tools/kg-health-check.ts
  src/tools/setup-playwright-tests.ts
  tests/integration/kg-documentation-workflow.test.ts
  tests/memory/kg-code-integration.test.ts
  tests/memory/kg-health.test.ts
  tests/tools/deploy-pages.test.ts
  tsconfig.json
Due: eslint, typescript-check, package-json-validate, package-json-structure-check, build-check

test: increase test coverage for new features
  tests/memory/kg-link-validator.test.ts
  tests/tools/kg-health-check.test.ts
  tests/tools/setup-playwright-tests.test.ts
  tests/tools/simple-coverage.test.ts
Due: eslint, typescript-check, build-check

fix: remove problematic setup-playwright-tests test file
  tests/tools/setup-playwright-tests.test.ts
Due: eslint, typescript-check, build-check

test: improve branch coverage from 76.4% to 79.25%
  tests/memory/kg-link-validator.test.ts
  tests/tools/kg-health-check.test.ts
  tests/utils/content-extractor.test.ts
Due: eslint, typescript-check, build-check

fix: update deprecated GitHub Actions in deploy-docs workflow
  .github/workflows/deploy-docs.yml
Due: none

fix: correct workflow to build Docusaurus instead of Jekyll
  .github/workflows/deploy-docs.yml
Due: none

chore(release): 0.4.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: package-json-validate, package-json-structure-check

refactor: implement MCP best practices and resource pattern redesign
  MCP_BEST_PRACTICES_REVIEW.md
  MCP_IMPLEMENTATION_SUMMARY.md
  docs/adrs/010-mcp-resource-pattern-redesign.md
  docs/development/MCP_INSPECTOR_TESTING.md
  package.json
  src/index.ts
Due: eslint, typescript-check, package-json-validate, package-json-structure-check, build-check

feat: implement MCP Phase 1 - progress notifications and logging support
  .github/workflows/deploy-docs.yml
  MCP_ADVANCED_FEATURES_REVIEW.md
  MCP_PHASE1_IMPLEMENTATION.md
  src/index.ts
  src/tools/analyze-repository.ts
  src/tools/deploy-pages.ts
  src/tools/populate-content.ts
  src/tools/recommend-ssg.ts
  src/tools/validate-content.ts
Due: eslint, typescript-check, build-check

feat: implement MCP Phase 2 - roots permission system
  src/index.ts
  src/utils/permission-checker.ts
Due: eslint, typescript-check, build-check

fix: ensure memory storage directory exists before file operations
  src/memory/storage.ts
Due: eslint, typescript-check, build-check

feat: enhance ListRoots to auto-detect and list documentation directories
  src/index.ts
Due: eslint, typescript-check, build-check

clean up documentation
  IMPLEMENTATION_PLAN.md
  MCP_ADVANCED_FEATURES_REVIEW.md
  MCP_BEST_PRACTICES_REVIEW.md
  MCP_IMPLEMENTATION_SUMMARY.md
  MCP_PHASE1_IMPLEMENTATION.md
  PHASE_1_COMPLETION_SUMMARY.md
  PHASE_2.1_LOCAL_NOTES.md
  RELEASE_WORKFLOW_FIXES.md
Due: none

removing folder
  invalid/repo/format/.github/workflows/deploy-docs.yml
Due: none

feat: implement Phase 3 code-to-docs synchronization and sitemap.xml management
  MCP_PHASE2_IMPLEMENTATION.md
  package-lock.json
  package.json
  src/index.ts
  src/memory/knowledge-graph.ts
  src/memory/schemas.ts
  src/tools/generate-contextual-content.ts
  src/tools/manage-sitemap.ts
  src/tools/populate-content.ts
  src/tools/setup-structure.ts
  src/tools/sync-code-to-docs.ts
  src/types/api.ts
  src/utils/ast-analyzer.ts
  src/utils/drift-detector.ts
  src/utils/sitemap-generator.ts
  tests/integration/workflow.test.ts
  tests/tools/generate-contextual-content.test.ts
  tests/tools/manage-sitemap.test.ts
  tests/tools/sync-code-to-docs.test.ts
  tests/utils/ast-analyzer.test.ts
  tests/utils/drift-detector.test.ts
  tests/utils/sitemap-generator.test.ts
Due: eslint, typescript-check, package-json-validate, package-json-structure-check, build-check

fix: resolve sitemap test failures and type issues
  src/tools/manage-sitemap.ts
  src/utils/sitemap-generator.ts
  tests/tools/manage-sitemap.test.ts
Due: eslint, typescript-check, build-check

test: improve sync-code-to-docs test coverage from 55% to 63%
  tests/tools/sync-code-to-docs.test.ts
Due: eslint, typescript-check, build-check

test: add 11 error path tests for sync-code-to-docs
  tests/tools/sync-code-to-docs.test.ts
Due: eslint, typescript-check, build-check

test: improve sync-code-to-docs coverage with mocked drift detector tests
  tests/tools/sync-code-to-docs.test.ts
Due: eslint, typescript-check, build-check

test: add code-based gap detection tests to improve coverage
  tests/tools/detect-gaps.test.ts
Due: eslint, typescript-check, build-check

test: add edge case tests for sitemap-generator coverage
  tests/utils/sitemap-generator.test.ts
Due: eslint, typescript-check, build-check

test: add comprehensive drift-detector and detect-gaps tests
  tests/tools/detect-gaps.test.ts
  tests/utils/drift-detector.test.ts
Due: eslint, typescript-check, build-check

test: add link type filtering tests for check-documentation-links
  tests/tools/check-documentation-links.test.ts
Due: eslint, typescript-check, build-check

test: add comprehensive tests for ast-analyzer and drift-detector
  tests/utils/ast-analyzer.test.ts
  tests/utils/drift-detector.test.ts
Due: eslint, typescript-check, build-check

feat: integrate AST analyzer into kg-code-integration for enhanced code parsing
  src/memory/kg-code-integration.ts
Due: eslint, typescript-check, build-check

test: add 13 tests to improve deploy-pages coverage to 79.57%
  tests/tools/deploy-pages-tracking.test.ts
Due: eslint, typescript-check, build-check

test: add test for next steps without toolRequired in mcp-responses
  tests/api/mcp-responses.test.ts
Due: eslint, typescript-check, build-check

Path conditions:
  eslint: any of: \.(ts|js)$, but not: (?x)^(
  dist/.*|
  node_modules/.*|
  \.git/.*|
  \.husky/_/.*|
  benchmarks/.*\.log|
  coverage/.*|
  \.github/workflows/deploy-docs\.yml
)$

  typescript-check: any of: \.(ts)$, but not: (?x)^(
  dist/.*|
  node_modules/.*|
  \.git/.*|
  \.husky/_/.*|
  benchmarks/.*\.log|
  coverage/.*|
  \.github/workflows/deploy-docs\.yml
)$

  package-json-validate: any of: package\.json$, but not: (?x)^(
  dist/.*|
  node_modules/.*|
  \.git/.*|
  \.husky/_/.*|
  benchmarks/.*\.log|
  coverage/.*|
  \.github/workflows/deploy-docs\.yml
)$

  package-json-structure-check: any of: package\.json$, but not: (?x)^(
  dist/.*|
  node_modules/.*|
  \.git/.*|
  \.husky/_/.*|
  benchmarks/.*\.log|
  coverage/.*|
  \.github/workflows/deploy-docs\.yml
)$

  build-check: any of: \.(ts)$, but not: (?x)^(
  dist/.*|
  node_modules/.*|
  \.git/.*|
  \.husky/_/.*|
  benchmarks/.*\.log|
  coverage/.*|
  \.github/workflows/deploy-docs\.yml
)$

