Repository tosin2013/documcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, package-json-validate, package-json-structure-check, build-check

Path conditions:
  eslint: any of: \.(ts|js)$, but not: (?x)^(
  dist/.*|
  node_modules/.*|
  \.git/.*|
  \.husky/_/.*|
  benchmarks/.*\.log|
  coverage/.*|
  \.github/workflows/deploy-docs\.yml
)$

  typescript-check: any of: \.(ts)$, but not: (?x)^(
  dist/.*|
  node_modules/.*|
  \.git/.*|
  \.husky/_/.*|
  benchmarks/.*\.log|
  coverage/.*|
  \.github/workflows/deploy-docs\.yml
)$

  package-json-validate: any of: package\.json$, but not: (?x)^(
  dist/.*|
  node_modules/.*|
  \.git/.*|
  \.husky/_/.*|
  benchmarks/.*\.log|
  coverage/.*|
  \.github/workflows/deploy-docs\.yml
)$

  package-json-structure-check: any of: package\.json$, but not: (?x)^(
  dist/.*|
  node_modules/.*|
  \.git/.*|
  \.husky/_/.*|
  benchmarks/.*\.log|
  coverage/.*|
  \.github/workflows/deploy-docs\.yml
)$

  build-check: any of: \.(ts)$, but not: (?x)^(
  dist/.*|
  node_modules/.*|
  \.git/.*|
  \.husky/_/.*|
  benchmarks/.*\.log|
  coverage/.*|
  \.github/workflows/deploy-docs\.yml
)$


test: add comprehensive tests for user preferences and memory manager
  tests/memory/manager.test.ts
  tests/memory/user-preferences.test.ts
Due: eslint, typescript-check, build-check

test: improve branch coverage to 81.2% with comprehensive test suite
  src/tools/deploy-pages.ts
  tests/memory/kg-storage-validation.test.ts
  tests/memory/manager-advanced.test.ts
  tests/tools/deploy-pages-kg-retrieval.test.ts
Due: eslint, typescript-check, build-check

feat: add generate_llm_context tool for dynamic LLM reference generation
  .gitignore
  src/index.ts
  src/tools/generate-llm-context.ts
  tests/tools/generate-llm-context.test.ts
Due: eslint, typescript-check, build-check

ci: add cleanup step between test runs to prevent knowledge graph file conflicts
  .github/workflows/ci.yml
Due: none

chore(release): 0.5.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: package-json-validate, package-json-structure-check

Add files via upload
  docs/googlea640aada5d55530e.html
Due: none

Delete docs/googlea640aada5d55530e.html
  docs/googlea640aada5d55530e.html
Due: none

add MCP server badge
  README.md
Due: none

docs: comprehensive documentation validation and updates
  .github/workflows/deploy-docs.yml
  .gitignore
  COMMIT_MSG.txt
  Dockerfile.docs
  PRE_PUSH_SUMMARY.md
  docs/adrs/004-diataxis-framework-integration.md
  docs/adrs/005-github-pages-deployment-automation.md
  docs/adrs/006-mcp-tools-api-design.md
  docs/adrs/008-intelligent-content-population-engine.md
  docs/explanation/architecture.md
  docs/guides/playwright-testing-workflow.md
  docs/how-to/analytics-setup.md
  docs/how-to/github-pages-deployment.md
  docs/how-to/index.md
  docs/how-to/local-testing.md
  docs/how-to/performance-optimization.md
  docs/how-to/seo-optimization.md
  docs/how-to/site-monitoring.md
  docs/how-to/usage-examples.md
  docs/knowledge-graph.md
  docs/reference/cli.md
  docs/reference/configuration.md
  docs/reference/deploy-pages.md
  docs/reference/index.md
  docs/reference/mcp-tools.md
  docs/sidebars.js
  docs/tutorials/environment-setup.md
  docs/tutorials/first-deployment.md
  docs/tutorials/getting-started.md
  docs/tutorials/index.md
  docs/tutorials/user-onboarding.md
  fix-validate-test.js
  mcp-config-example.json
  user/test-repo/.github/workflows/deploy-docs.yml
  user/test-repo/CNAME
Due: eslint

fix: resolve GitHub Actions build failure
  .github/workflows/deploy-docs.yml
  docs/docusaurus.config.js
Due: eslint

fix: remove ADR-010 from sidebar to fix Docker build
  docs/sidebars.js
Due: eslint

fix: add forceExit to Jest config for CI to prevent worker process hangs
  .github/workflows/ci.yml
  package.json
Due: package-json-validate, package-json-structure-check

fix: update dependencies and adjust security audit workflow
  .github/workflows/ci.yml
  package-lock.json
Due: none

chore(release): 0.5.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: package-json-validate, package-json-structure-check

Add Ask DeepWiki badge to README
  README.md
Due: none

feat: implement documentation freshness tracking with KG integration and fix js-yaml vulnerability
  .github/workflows/deploy-docs.yml
  docs/sidebars.js
  package-lock.json
  package.json
  src/index.ts
  src/memory/freshness-kg-integration.ts
  src/memory/knowledge-graph.ts
  src/memory/schemas.ts
  src/tools/sync-code-to-docs.ts
  src/tools/track-documentation-freshness.ts
  src/tools/validate-documentation-freshness.ts
  src/utils/freshness-tracker.ts
  tests/memory/schemas.test.ts
  tests/tools/track-documentation-freshness.test.ts
  tests/tools/validate-documentation-freshness.test.ts
  tests/utils/freshness-tracker.test.ts
Due: eslint, typescript-check, package-json-validate, package-json-structure-check, build-check

feat: add GitHub Copilot instructions and specialized agents
  .github/agents/documcp-ast.md
  .github/agents/documcp-deploy.md
  .github/agents/documcp-memory.md
  .github/agents/documcp-test.md
  .github/agents/documcp-tool.md
  .github/copilot-instructions.md
Due: none

test: improve test coverage to meet 80% branch threshold
  tests/memory/freshness-kg-integration.test.ts
  tests/tools/track-documentation-freshness.test.ts
  tests/utils/sitemap-generator.test.ts
Due: eslint, typescript-check, build-check

feat: add MCP prompts and resources for documentation freshness tracking
  src/index.ts
  src/prompts/technical-writer-prompts.ts
Due: eslint, typescript-check, build-check

test: improve branch coverage from 79.95% to 80.09%
  tests/memory/freshness-kg-integration.test.ts
  tests/tools/track-documentation-freshness.test.ts
Due: eslint, typescript-check, build-check

test: improve branch coverage from 80.09% to 80.47%
  tests/prompts/technical-writer-prompts.test.ts
Due: eslint, typescript-check, build-check

test: improve coverage to 80.53% with sitemap edge cases
  tests/utils/sitemap-generator.test.ts
Due: eslint, typescript-check, build-check

fix: resolve KG storage issues and test failures, improve branch coverage to 81.32%
  src/memory/freshness-kg-integration.ts
  src/memory/knowledge-graph.ts
  tests/memory/freshness-kg-integration.test.ts
  tests/prompts/technical-writer-prompts.test.ts
  tests/tools/track-documentation-freshness.test.ts
  tests/utils/sitemap-generator.test.ts
Due: eslint, typescript-check, build-check

feat: improve branch coverage to 81.41%, add KG efficiency improvements
  src/memory/freshness-kg-integration.ts
  tests/memory/freshness-kg-integration.test.ts
  tests/tools/kg-health-check.test.ts
Due: eslint, typescript-check, build-check

fix: upgrade GitHub Actions to resolve deprecation warnings
  .github/workflows/deploy-docs.yml
Due: none

fix: update deploy-docs workflow from Jekyll to Docusaurus
  .github/workflows/deploy-docs.yml
Due: none

fix: correct sidebar reference for mcp-resource-pattern-redesign
  docs/sidebars.js
Due: eslint

chore(release): 0.5.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: package-json-validate, package-json-structure-check

docs: add CE-MCP compatibility analysis and update ADRs
  docs/CE-MCP-FINDINGS.md
  docs/adrs/001-mcp-server-architecture.md
  docs/adrs/006-mcp-tools-api-design.md
  docs/adrs/007-mcp-prompts-and-resources-integration.md
  docs/adrs/011-ce-mcp-compatibility.md
  package-lock.json
Due: none

feat: add Code Mode prompts and server optimization hints
  src/index.ts
Due: eslint, typescript-check, build-check

ci: update deployment workflow for Docusaurus
  .github/workflows/deploy-docs.yml
Due: none

fix: handle missing dependencies in generate-technical-writer-prompts
  src/tools/generate-technical-writer-prompts.ts
Due: eslint, typescript-check, build-check

feat: Extend knowledge graph with documentation example entities
  src/memory/knowledge-graph.ts
  src/memory/schemas.ts
  tests/memory/kg-storage-validation.test.ts
  tests/memory/kg-storage.test.ts
  tests/memory/knowledge-graph-documentation-examples.test.ts
  tests/memory/schemas-documentation-examples.test.ts
  tests/memory/schemas.test.ts
Due: eslint, typescript-check, build-check

fix: isolate memory integration tests from workspace state
  src/memory/kg-integration.ts
  tests/integration/memory-mcp-tools.test.ts
Due: eslint, typescript-check, build-check

feat: Extend knowledge graph with documentation example entities (#78)
  src/memory/kg-integration.ts
  src/memory/knowledge-graph.ts
  src/memory/schemas.ts
  tests/integration/memory-mcp-tools.test.ts
  tests/memory/kg-storage-validation.test.ts
  tests/memory/kg-storage.test.ts
  tests/memory/knowledge-graph-documentation-examples.test.ts
  tests/memory/schemas-documentation-examples.test.ts
  tests/memory/schemas.test.ts
Due: eslint, typescript-check, build-check

feat: Add agent artifact detection and cleanup tool (#80)
  .github/workflows/deploy-docs.yml
  jest.config.js
  src/index.ts
  src/tools/cleanup-agent-artifacts.ts
  src/utils/artifact-detector.ts
  tests/tools/cleanup-agent-artifacts.test.ts
  tests/utils/artifact-detector.test.ts
Due: eslint, typescript-check, build-check
