Repository tosin2013/documcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, package-json-validate, package-json-structure-check, build-check

Path conditions:
  eslint: any of: \.(ts|js)$, but not: (?x)^(
  dist/.*|
  node_modules/.*|
  \.git/.*|
  \.husky/_/.*|
  benchmarks/.*\.log|
  coverage/.*|
  \.github/workflows/deploy-docs\.yml
)$

  typescript-check: any of: \.(ts)$, but not: (?x)^(
  dist/.*|
  node_modules/.*|
  \.git/.*|
  \.husky/_/.*|
  benchmarks/.*\.log|
  coverage/.*|
  \.github/workflows/deploy-docs\.yml
)$

  package-json-validate: any of: package\.json$, but not: (?x)^(
  dist/.*|
  node_modules/.*|
  \.git/.*|
  \.husky/_/.*|
  benchmarks/.*\.log|
  coverage/.*|
  \.github/workflows/deploy-docs\.yml
)$

  package-json-structure-check: any of: package\.json$, but not: (?x)^(
  dist/.*|
  node_modules/.*|
  \.git/.*|
  \.husky/_/.*|
  benchmarks/.*\.log|
  coverage/.*|
  \.github/workflows/deploy-docs\.yml
)$

  build-check: any of: \.(ts)$, but not: (?x)^(
  dist/.*|
  node_modules/.*|
  \.git/.*|
  \.husky/_/.*|
  benchmarks/.*\.log|
  coverage/.*|
  \.github/workflows/deploy-docs\.yml
)$


fix(tests): update workflow filename assertions to deploy-github-pages.yml
  tests/edge-cases/error-handling.test.ts
  tests/functional/tools.test.ts
  tests/integration/workflow.test.ts
  tests/tools/all-tools.test.ts
  tests/tools/simple-coverage.test.ts
Due: eslint, typescript-check, build-check

chore(release): add CI gate guard for releases
  package.json
  scripts/check-ci.sh
Due: package-json-validate, package-json-structure-check

ci: auto-create and auto-close GitHub issues for failing tests
  .github/workflows/ci.yml
Due: none

ci: set fail-fast false so 20.x artifact upload runs on any failure
  .github/workflows/ci.yml
Due: none

ci: fix Jest JSON field names (name/assertionResults not testFilePath/testResults)
  .github/workflows/ci.yml
Due: none

fix: expose cnameCreated in deployPages response (#165)
  src/tools/deploy-pages.ts
Due: eslint, typescript-check, build-check

fix(tests): replace cnameCreated with generatedFiles assertion; harden CI issue capture
  .github/workflows/ci.yml
  tests/tools/deploy-pages-tracking.test.ts
Due: eslint, typescript-check, build-check

chore: add Vercel deployment configuration (docusaurus)
  docs/.gitignore
  docs/.vercel/project.json
  docs/VERCEL_SETUP.md
  docs/vercel.json
Due: none

fix(deploy): build with npm run build then deploy prebuilt to avoid Vercel path conflicts
  .github/workflows/deploy-docs.yml
Due: none

fix(deploy): correct Vercel framework slug from docusaurus2 to docusaurus-2
  docs/vercel.json
  src/deploy-targets/vercel/index.ts
Due: eslint, typescript-check, build-check

fix(deploy): add .vercelignore to exclude TypeDoc api/ dir causing Vercel path conflict
  docs/.vercelignore
Due: none

docs: fix all broken links across documentation site
  docs/.docusaurus/docusaurus-plugin-content-docs/default/__mdx-loader-dependency.json
  docs/adrs/adr-0011-ce-mcp-compatibility.md
  docs/adrs/adr-0014-removal-of-server-side-llm-dependency-in-favor-of-mcp-sampling.md
  docs/development/release-health-dashboard.md
  docs/development/v0.6.0-release-preview.md
  docs/docusaurus.config.js
  docs/how-to/contributing-an-ssg-adapter.md
  docs/how-to/drift-priority-scoring.md
  docs/how-to/repository-analysis.md
  docs/reference/api-overview.md
  docs/reference/index.md
  docs/tutorials/environment-setup.md
  docs/tutorials/user-onboarding.md
Due: eslint

docs: replace broken LLM_CONTEXT.md GitHub links with plain text references
  docs/reference/api-overview.md
  docs/reference/index.md
Due: none

Align Vercel Docusaurus framework identifier with deploy_site expectations (#168)
  src/deploy-targets/vercel/index.ts
Due: eslint, typescript-check, build-check

chore: publish LLM_CONTEXT.md and restore GitHub links in reference docs
  .gitignore
  LLM_CONTEXT.md
  docs/reference/api-overview.md
  docs/reference/index.md
Due: none

chore: remove stale static sitemap (Docusaurus auto-generates one at build time)
  docs/sitemap.xml
Due: none

feat: switch primary domain to documcp.dev
  docs/VERCEL_SETUP.md
  docs/docusaurus.config.js
  docs/vercel.json
Due: eslint

docs(changelog): finalize v1.0.0 release notes with post-tag fixes
  CHANGELOG.md
Due: none

ci(release): use NPM_TOKEN for npm publishing with version sanity check
  .github/workflows/release.yml
Due: none

ci(release): restore OIDC trusted publishing; keep version/skip guards
  .github/workflows/release.yml
Due: none

ci(release): derive publish version from tag ref, not package.json
  .github/workflows/release.yml
Due: none

ci(release): increase npm registry propagation wait from 10s to 30s
  .github/workflows/release.yml
Due: none

docs(tutorials): refactor tutorial docs for MCP server onboarding
  docs/sidebars.js
  docs/tutorials/environment-setup.md
  docs/tutorials/getting-started.md
  docs/tutorials/index.md
  docs/tutorials/user-onboarding.md
Due: eslint

docs(tutorials): add Claude Code CLI MCP registration instructions
  docs/tutorials/environment-setup.md
  docs/tutorials/getting-started.md
Due: none

docs(readme): update installation, MCP client setup, and quick start
  README.md
Due: none
