Repository tosin2013/documcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, package-json-validate, package-json-structure-check, build-check

Path conditions:
  eslint: any of: \.(ts|js)$, but not: (?x)^(
  dist/.*|
  node_modules/.*|
  \.git/.*|
  \.husky/_/.*|
  benchmarks/.*\.log|
  coverage/.*|
  \.github/workflows/deploy-docs\.yml
)$

  typescript-check: any of: \.(ts)$, but not: (?x)^(
  dist/.*|
  node_modules/.*|
  \.git/.*|
  \.husky/_/.*|
  benchmarks/.*\.log|
  coverage/.*|
  \.github/workflows/deploy-docs\.yml
)$

  package-json-validate: any of: package\.json$, but not: (?x)^(
  dist/.*|
  node_modules/.*|
  \.git/.*|
  \.husky/_/.*|
  benchmarks/.*\.log|
  coverage/.*|
  \.github/workflows/deploy-docs\.yml
)$

  package-json-structure-check: any of: package\.json$, but not: (?x)^(
  dist/.*|
  node_modules/.*|
  \.git/.*|
  \.husky/_/.*|
  benchmarks/.*\.log|
  coverage/.*|
  \.github/workflows/deploy-docs\.yml
)$

  build-check: any of: \.(ts)$, but not: (?x)^(
  dist/.*|
  node_modules/.*|
  \.git/.*|
  \.husky/_/.*|
  benchmarks/.*\.log|
  coverage/.*|
  \.github/workflows/deploy-docs\.yml
)$


feat: Add Diataxis type tracking to CodeExample interface (#81)
  src/utils/drift-detector.ts
  tests/utils/drift-detector-diataxis.test.ts
Due: eslint, typescript-check, build-check

feat: Add LLM integration layer for semantic code analysis (#82)
  README.md
  docs/how-to/llm-integration.md
  src/utils/llm-client.ts
  src/utils/semantic-analyzer.ts
  tests/utils/llm-client.test.ts
  tests/utils/semantic-analyzer.test.ts
Due: eslint, typescript-check, build-check

Potential fix for code scanning alert no. 1036: Unused variable, import, function or class
  tests/utils/drift-detector-priority.test.ts
Due: eslint, typescript-check, build-check

feat: Add priority scoring system for documentation drift (#83)
  docs/how-to/drift-priority-scoring.md
  docs/sidebars.js
  src/utils/drift-detector.ts
  tests/utils/drift-detector-priority.test.ts
Due: eslint, typescript-check, build-check

feat(release): implement npm publishing verification and automated changelog (#1, #2)
  .github/workflows/release.yml
  ISSUE_IMPLEMENTATION_SUMMARY.md
  docs/adrs/002-repository-analysis-engine.md
  docs/adrs/004-diataxis-framework-integration.md
  docs/adrs/005-github-pages-deployment-automation.md
  docs/adrs/006-mcp-tools-api-design.md
  docs/adrs/009-content-accuracy-validation-framework.md
  docs/adrs/012-priority-scoring-system-for-documentation-drift.md
  docs/adrs/013-release-pipeline-and-package-distribution.md
  docs/adrs/README.md
Due: none

docs(adrs): update ADR-013 status to Accepted with implementation details
  docs/adrs/013-release-pipeline-and-package-distribution.md
  docs/adrs/README.md
Due: none

docs: add architectural changes summary
  ARCHITECTURAL_CHANGES_SUMMARY.md
Due: none

fix(ci): update deprecated GitHub Actions to v4
  .github/workflows/deploy-docs.yml
  .github/workflows/release.yml
Due: none

fix(ci): migrate deploy-docs workflow from Jekyll to Docusaurus
  .github/workflows/deploy-docs.yml
Due: none

docs(adrs): add workflow consistency note to ADR-005
  docs/adrs/005-github-pages-deployment-automation.md
Due: none

fix(ci): optimize API docs workflow steps
  .github/workflows/deploy-docs.yml
  .github/workflows/release.yml
Due: none

feat: add change watcher for drift detection
  docs/how-to/change-watcher.md
  package-lock.json
  package.json
  src/index.ts
  src/tools/change-watcher.ts
  src/utils/change-watcher.ts
  tests/change-watcher.test.ts
Due: eslint, typescript-check, package-json-validate, package-json-structure-check, build-check

fix(ci): resolve race condition in KG storage and add test isolation
  src/memory/kg-storage.ts
  tests/functional/tools.test.ts
  tests/integration/workflow.test.ts
Due: eslint, typescript-check, build-check

fix(docs): resolve MDX compilation errors in ADR and how-to files
  docs/adrs/012-priority-scoring-system-for-documentation-drift.md
  docs/adrs/013-release-pipeline-and-package-distribution.md
  docs/how-to/drift-priority-scoring.md
Due: none

feat(execution-simulator): implement LLM-based code tracing (#73)
  src/index.ts
  src/tools/simulate-execution.ts
  src/tools/validate-content.ts
  src/utils/execution-simulator.ts
  tests/execution-simulator.test.ts
Due: eslint, typescript-check, build-check

feat(ast-analyzer): add call graph builder for execution path tracing (#72)
  src/utils/ast-analyzer.ts
  tests/call-graph-builder.test.ts
Due: eslint, typescript-check, build-check

style: apply Prettier formatting to source files
  src/tools/cleanup-agent-artifacts.ts
  src/utils/artifact-detector.ts
  src/utils/drift-detector.ts
  src/utils/llm-client.ts
  src/utils/semantic-analyzer.ts
Due: eslint, typescript-check, build-check

feat(adr): standardize ADR naming and complete ADR-012 implementation
  docs/adrs/README.md
  docs/adrs/adr-0001-mcp-server-architecture.md
  docs/adrs/adr-0002-repository-analysis-engine.md
  docs/adrs/adr-0003-static-site-generator-recommendation-engine.md
  docs/adrs/adr-0004-diataxis-framework-integration.md
  docs/adrs/adr-0005-github-pages-deployment-automation.md
  docs/adrs/adr-0006-mcp-tools-api-design.md
  docs/adrs/adr-0007-mcp-prompts-and-resources-integration.md
  docs/adrs/adr-0008-intelligent-content-population-engine.md
  docs/adrs/adr-0009-content-accuracy-validation-framework.md
  docs/adrs/adr-0010-mcp-resource-pattern-redesign.md
  docs/adrs/adr-0011-ce-mcp-compatibility.md
  docs/adrs/adr-0012-priority-scoring-system-for-documentation-drift.md
  docs/adrs/adr-0013-release-pipeline-and-package-distribution.md
  docs/how-to/llm-integration.md
  docs/sidebars.js
  docs/sitemap.xml
  src/memory/kg-code-integration.ts
  src/utils/change-watcher.ts
  src/utils/drift-detector.ts
  src/utils/usage-metadata.ts
  src/utils/user-feedback-integration.ts
  tests/change-watcher-priority.integration.test.ts
  tests/utils/usage-metadata.test.ts
  tests/utils/user-feedback-integration.test.ts
Due: eslint, typescript-check, build-check

fix(ci): resolve coverage threshold failure and add user-feedback-integration tests
  .github/workflows/deploy-docs.yml
  jest.config.js
  tests/utils/user-feedback-integration.test.ts
Due: eslint, typescript-check, build-check

fix(ci): update deploy-docs workflow to use latest GitHub Actions versions
  .github/workflows/deploy-docs.yml
Due: none

fix(ci): correct deploy-docs workflow for Docusaurus build
  .github/workflows/deploy-docs.yml
Due: none

fix(docs): update ADR frontmatter IDs to match new naming convention
  docs/adrs/adr-0001-mcp-server-architecture.md
  docs/adrs/adr-0002-repository-analysis-engine.md
  docs/adrs/adr-0003-static-site-generator-recommendation-engine.md
  docs/adrs/adr-0004-diataxis-framework-integration.md
  docs/adrs/adr-0005-github-pages-deployment-automation.md
  docs/adrs/adr-0006-mcp-tools-api-design.md
  docs/adrs/adr-0007-mcp-prompts-and-resources-integration.md
  docs/adrs/adr-0008-intelligent-content-population-engine.md
  docs/adrs/adr-0009-content-accuracy-validation-framework.md
Due: none

fix(docs): align sidebars.js with updated ADR frontmatter IDs
  docs/adrs/adr-0011-ce-mcp-compatibility.md
  docs/adrs/adr-0012-priority-scoring-system-for-documentation-drift.md
  docs/adrs/adr-0013-release-pipeline-and-package-distribution.md
  docs/sidebars.js
Due: eslint

fix(docs): add missing id field to ADR-0010 frontmatter
  docs/adrs/adr-0010-mcp-resource-pattern-redesign.md
Due: none

fix(ci): relax commitlint rules for release workflow
  commitlint.config.js
Due: eslint

fix(ci): improve husky hook bypass for release workflow
  .github/workflows/release.yml
  .husky/pre-commit
Due: none

fix(ci): remove deprecated husky.sh pattern from pre-commit hook
  .husky/pre-commit
Due: none

chore(release): 0.5.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: package-json-validate, package-json-structure-check

chore(release): 0.5.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: package-json-validate, package-json-structure-check

fix(ci): fetch latest changes before release to prevent push conflicts
  .github/workflows/release.yml
Due: none

chore(release): 0.5.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: package-json-validate, package-json-structure-check

chore(release): 0.5.6
  CHANGELOG.md
  package-lock.json
  package.json
Due: package-json-validate, package-json-structure-check

chore(release): 0.5.7
  CHANGELOG.md
  package-lock.json
  package.json
Due: package-json-validate, package-json-structure-check

chore(release): 0.5.8
  CHANGELOG.md
  package-lock.json
  package.json
Due: package-json-validate, package-json-structure-check

feat(ci): migrate to npm trusted publishing (OIDC)
  .github/workflows/release.yml
Due: none

chore(release): 0.5.9
  CHANGELOG.md
  package-lock.json
  package.json
Due: package-json-validate, package-json-structure-check

chore(release): 0.5.10
  CHANGELOG.md
  package-lock.json
  package.json
Due: package-json-validate, package-json-structure-check

docs: update ADR-008 and ADR-007 status to fully implemented
  docs/adrs/README.md
  docs/adrs/adr-0008-intelligent-content-population-engine.md
Due: none

docs(adrs): update implementation status for ADRs 003, 004, 006, 009, 011
  .github/workflows/deploy-docs.yml
  docs/adrs/adr-0001-mcp-server-architecture.md
  docs/adrs/adr-0003-static-site-generator-recommendation-engine.md
  docs/adrs/adr-0004-diataxis-framework-integration.md
  docs/adrs/adr-0005-github-pages-deployment-automation.md
  docs/adrs/adr-0006-mcp-tools-api-design.md
  docs/adrs/adr-0007-mcp-prompts-and-resources-integration.md
  docs/adrs/adr-0008-intelligent-content-population-engine.md
  docs/adrs/adr-0009-content-accuracy-validation-framework.md
  docs/adrs/adr-0010-mcp-resource-pattern-redesign.md
  docs/adrs/adr-0011-ce-mcp-compatibility.md
  docs/adrs/adr-0012-priority-scoring-system-for-documentation-drift.md
  docs/adrs/adr-0013-release-pipeline-and-package-distribution.md
  src/memory/export-import.ts
  src/memory/multi-agent-sharing.ts
  src/memory/temporal-analysis.ts
  src/memory/visualization.ts
  src/tools/update-existing-documentation.ts
  src/types/tool-metadata.ts
  src/utils/result-summarizer.ts
  src/utils/usage-metadata.ts
  tests/ce-mcp-compatibility.test.ts
Due: eslint, typescript-check, build-check

docs(roadmap): add ADRs 014-018 and v0.6.0-v1.0.0 release plan
  .gitignore
  CHANGELOG.md
  RELEASE_PLAN.md
  TODO.md
  docs/adrs/README.md
  docs/adrs/adr-0005-github-pages-deployment-automation.md
  docs/adrs/adr-0009-content-accuracy-validation-framework.md
  docs/adrs/adr-0014-removal-of-server-side-llm-dependency-in-favor-of-mcp-sampling.md
  docs/adrs/adr-0015-multi-language-ast-analysis-via-tree-sitter-parser-registry.md
  docs/adrs/adr-0016-ssg-adapter-plugin-pattern-for-recommendation-configuration-and-deployment.md
  docs/adrs/adr-0017-standalone-cli-surface-for-non-mcp-workflows.md
  docs/adrs/adr-0018-deploy-target-adapter-pattern-for-github-pages-vercel-netlify-and-cloudflare-pages.md
  docs/development/v0.6.0-release-preview.md
  scripts/create-roadmap-issues.sh
  scripts/link-todo-to-issues.cjs
Due: none
